.container {
    margin: 10px;
    display: flex;
    overflow: hidden;
}

.leftContainer {
    flex: 30%;
    margin-top: 20px;
    margin-left: 5px;
}

.filterContainer {
    border: solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.statsContainer {
    border: solid;
    border-radius: 10px;
}

.databaseEntries {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 70%;
    /* border: solid; */
}

.search {
    width: 90%;
}

li {
    list-style: none;
}

/* collsible button for triggering hidden content */
.collapsible {
    cursor: pointer;
    text-align: left; 
    width: 100%;  
}

.collapsible:hover {
    background-color: #555;
}

.hiddenContent {
    margin-left: 50px;
}
