.container {
    margin: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.leftContainer {
    flex: 100%;
    margin-top: 20px;
    margin-left: 5px;
}

.databaseEntries {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 100%;
}

@media only screen and (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    .leftContainer {
        flex: 30%;
    }

    .databaseEntries {
        flex: 70%;
    }
}

.filterContainer {
    border: solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.statsContainer {
    border: solid;
    border-radius: 10px;
}

.search {
    width: 90%;
}

li {
    list-style: none;
}

/* Collapsible button for triggering hidden content */
.collapsible {
    cursor: pointer;
    text-align: left; 
    width: 100%;  
}

.collapsible:hover {
    background-color: #555;
}

.hiddenContent {
    margin-left: 50px;
}