.container {
    margin: 10px;
}

.databaseContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.filterContainer {
    margin-top: 20px;
    border: solid;
}

.statsContainer {
    margin-top: 20px;
    border: solid;
}

.databaseEntries {
    border: solid;
}

.search {
    width: 100%;
}

li {
    list-style: none;
}