:root {
    --borderRadiusDefault: 1rem;
    --colorTextDefault: #1c3144;
    --fontSizeBaseEm: 1.6em;
    --fontFamilyDefault: "Rockwell", sans-serif;
    --fontWeightLight: 300;
    --lineHeightDefault: 1.5;
    --colorPrimary: #ed2793;
    --colorGreyLight: #efefef;
}

.leaderboard {
    grid-area: leaderboard;
    border-radius: var(--borderRadiusDefault);
    background-color: #f8f8f8;
    color: #333333;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
}

.header {
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: "Comic Sans MS", sans-serif;
    color: var(--colorPrimary);
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", sans-serif;
}

ol li {
    font-size: 1.2rem;
    margin-bottom: 8px;
    transition: color 0.7s ease;
}

ol li:nth-child(even) {
    background-color: var(--colorGreyLight);
}

ol li span {
    float: right;
}

ol li:hover {
    color: var(--colorPrimary);
}

/* responsiveness */
@media only screen and (min-width: 769px) {
    .contentContainer {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "leaderboard progressBarSection"
            "leaderboard progressBarSection"
            "leaderboard progressBarSection";
        grid-gap: 15px;
    }

    .section-title {
        padding: 2%;
    }
}

@media only screen and (max-width: 768px) {
    .section-title {
        padding: 2%;
    }
}

.home-page p {
    margin-bottom: 1.6rem;
}

.redirectButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.redirectButton:hover {
    background-color: #0056b3;
}