.container {
    padding: 20px;
}

.intro {
    margin-bottom: 20px;
    font-size: 20px;
    color: #1c3144;
    font-family: "Comic Sans MS", sans-serif;
}

.sectionBoxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sectionBox {
    width: 30%;
    text-align: center;
    border-radius: 1rem;
    background-color: #f8f8f8;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

.heading {
    font-size: 18px;
    color: #ed2793;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Comic Sans MS", sans-serif;
}

.image {
    width: 100%;
    max-width: 462px;
    height: auto;
    max-height: 288px;
    border-radius: 0.5rem;
    object-fit: contain;
    background-color: #f8f8f8;
}

.text {
    margin-top: 10px;
    font-size: 16px;
    color: #1c3144;
    font-family: "Comic Sans MS", sans-serif;
}

.donateMessage {
    margin-top: 20px;
    font-size: 24px;
    color: #1c3144;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

.leaderboard {
    grid-area: leaderboard;
    border-radius: 1rem;
    background-color: #f8f8f8;
    color: #333333;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddddd;
    font-family: "Comic Sans MS", sans-serif;
}

.header {
    margin-bottom: 10px;
    font-size: 2rem;
    font-family: "Comic Sans MS", sans-serif;
    color: #ed2793;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", sans-serif;
}

ol li {
    font-size: 1.2rem;
    margin-bottom: 8px;
    transition: color 0.7s ease;
}

ol li:nth-child(even) {
    background-color: #efefef;
}

ol li span {
    float: right;
}

ol li:hover {
    color: #ed2793;
}

.contentWrapper {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* responsiveness */
@media only screen and (min-width: 769px) {
    .contentContainer {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "leaderboard progressBarSection"
            "leaderboard progressBarSection"
            "leaderboard progressBarSection";
        grid-gap: 15px;
    }

    .section-title {
        padding: 2%;
    }
}

@media only screen and (max-width: 768px) {
    .sectionBoxes {
        flex-direction: column;
        align-items: center;
    }

    .sectionBox {
        width: 80%;
        margin-bottom: 20px;
    }

    .section-title {
        padding: 2%;
    }

    .donateMessage {
        font-size: 20px;
    }
}

.home-page p {
    margin-bottom: 1.6rem;
}

.redirectButton {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.redirectButton:hover {
    background-color: #0056b3;
}