.pageContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #efefef;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.headingSection {
  flex: 1;
  position: relative;
}

.leaderboardSection {
  flex: 1;
  background-color: #efefef;
  padding: 20px;
  border-radius: 1rem;
  text-align: left;
}

.heading {
  color: #ed2793;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Comic Sans MS", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  background-color: #ffffff;
  color: #1c3144;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: auto;
  margin-top: 5px;
  border-radius: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
}

.dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Comic Sans MS", sans-serif;
}

.dropdownMenu li:hover {
  background-color: #efefef;
}

.dropdownButton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 1rem;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  width: auto;
}

.dropdownButton:hover {
  background-color: #0056b3;
}

.dropdownIcon {
  margin-left: 8px;
  font-size: 12px;
}

.redirectButton {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.redirectButton:hover {
  background-color: #0056b3;
}

.optionImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.optionDescription {
  color: #1c3144;
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  margin-top: 10px;
}

.progressBarSection {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressBarTitle {
  font-size: 3rem;
  font-weight: bold;
  color: #ed2793;
  flex: 1;
  text-align: left;
  line-height: 3.5rem;
  padding: 10px;
}

.progress-bar-wrapper {
  background-color: #e9ecef;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.progress-bar {
  background: #76f7bf;
  height: 100%;
  transition: width 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f1a38;
  text-align: center;
  white-space: nowrap;
  width: 0;
  margin-bottom: 0;
}

.circularProgressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.circularProgressBarLabel {
  font-size: 1.5rem;
  color: #1f1a38;
  margin-bottom: 10px;
}
/* Responsiveness */
@media only screen and (min-width: 769px) {
  .contentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "leaderboard leaderboard"
      "donationAmount progressBarSection";
    grid-gap: 15px;
  }

  .donationAmount {
    grid-area: donationAmount;
  }
}

@media only screen and (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
  }

  .progressBarSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .progressBarTitle {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }
}

.totalDonate {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  color: #ed2793;
  font-weight: bold;

}

.donationAmountValue {
  color: #1c3144;
  font-weight: bold;
}