.pageContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #efefef;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.headingSection {
  flex: 1;
  position: relative;
}

.leaderboardSection {
  flex: 1;
  background-color: #efefef;
  padding: 20px;
  border-radius: 1rem;
  text-align: left;
}

.heading {
  color: #ed2793;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-family: "Rockwell", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  background-color: #ffffff;
  color: #1c3144;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: auto;
  margin-top: 5px;
  border-radius: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
}

.dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Rockwell", sans-serif;
}

.dropdownMenu li:hover {
  background-color: #efefef;
}

.dropdownButton {
  display: inline-flex; /* Ensure relative to text-size */
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 1rem;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  color: white;
  font-family: "Rockwell", sans-serif;
  width: auto; /* Ensure width fit content */
}

.dropdownButton:hover {
  background-color: #0056b3;
}

.dropdownIcon {
  margin-left: 8px;
  font-size: 12px;
}

.redirectButton {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.redirectButton:hover {
  background-color: #0056b3;
}

.optionImage {
  width: 100%; /* Keep it responsive */
  max-width: 500px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  max-height: 400px; /* Set a maximum height */
  border-radius: 8px; /* Optional: add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for depth */
}

.optionDescription {
  color: #1c3144; /* Set the desired text color */
  font-size: 16px; /* Adjust font size if needed */
  font-family: "Rockwell", sans-serif; /* Ensure consistent font family */
  margin-top: 10px; /* Add some margin for spacing */
}